<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><h3>
     Your Submissons
     <!-- <button type="button" class="btn btn-info pull-right">
      <span class="glyphicon glyphicon-search"></span> Search
    </button> -->
    </h3>
   </div>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
          {{#each user.submissions as |submission|}}
      <tr>
          <td>{{submission.date}}</td>
        <td>{{submission.title}}</td>
        <td>{{submission.status}}</td>
        <td> <a  href="#"{{action "edit" submission}}>Edit</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>

<div class="panel-footer">
<button {{action 'newcode'}}class = "btn btn-primary">new submission</button>

</div>
</div>
