
<div class="container ">
     <form class="form-signin">
       <h2 class="form-signin-heading">Login</h2>
<div class="form-group {{haserror}}">
  <label class="control-label">Email address</label>
  {{input type="email" class="form-control" value=email placeholder= "Email Adress"}}
</div>
<div class="form-group {{haserror}}">
  <label class="control-label">Password</label>
    {{input type="password" class="form-control" value=password placeholder="Password"}}
</div>

       <div class="checkbox">
         <label>
           <input type="checkbox" value="remember-me"> Remember me
         </label>
       </div>

         <button data-toggle="snackbar" data-style="toast" data-content="Login Successful" {{action 'authenticate'}} class="btn btn-lg btn-primary btn-block" type="button">Login</button>
            </form>
   </div>
